body {
    width: 100%;
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;
    color: #0A3871;
}

.logo {
    margin: 30px;
    padding: 5px;
    width: 2%;
}

main {
    display: flex;
    /* border: 1px solid black; */
    margin: 0 20%;
}

/* .conteudoPrincipal {
    float: right;
} */

textarea {
    border: none;
    font-size: 32px;
    text-decoration: none;
    text-transform: lowercase;
    resize: none;
}

textarea:focus {
    outline: none;
}

#textoDeEntrada {
    background-color: #E5E5E5;
    font-weight: 400;
    color: #0A3871;
    /* border: 1px solid black; */
}

::placeholder{
    font-family: 'Inter', sans-serif;
    color: #0A3871;
}

.icon {
    width: 16px;
}

.alerta {
    font-size: 12px;
}

.divBotoes{
    display: flex;
}

button {
    font-size: 16px;
    width: 30%;
    padding: 24px;
    border-radius: 24px;
    width: 50%;
    margin: 10px;
}

.buttonCripto {
    background-color: #0A3871;
    color: white;
    border: none;
    margin-right: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.218);
}

.buttonCripto:active {
    box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.303);
    color: rgba(249, 249, 249, 0.814);
}

.buttonDescripto, .botaoCopiar {
    background-color: #D8DFE8;
    color: #0A3871;
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.buttonDescripto:active, .botaoCopiar:active {
    color: #0e386dd0;
    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.16);
}

aside {
    background-color: white;
    color: #343A40;
    text-align: center;
    padding: 20px;
    border-radius: 24px;
    margin-left: 150px;
}

.textoReposta {
    /* position: absolute; */
    background-color: white;
    font-size: 24px;
    margin-top: 20px;
}

.textoMaior {
    font-size: 24px;
    font-weight: 700;
    /* width: 80%; */
    margin: 0 auto;
}

.textoMenor {
    /* width: 80%; */
    margin: 0 auto;
}

.botaoCopiar {
    background-color: white;
    margin-bottom: 0;
}

footer {
    font-size: 10px;
    background-color: black;
    color: white;
    text-align: center;
    margin: 0 auto;
}
